<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.brent.helloworld">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.krux.activity.preLogin.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.krux.activity.preLogin.RegisterActivity">
            android:label="@string/app_name"
        </activity>

        <activity
            android:name="com.krux.activity.main.HomeActivity"
            android:label="ViewPagerFragmentActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.krux.activity.main.SetTagsFilterActivity"
            android:theme="@android:style/Theme.Dialog" />

        <activity android:name="com.krux.activity.main.SetCreatedDateFilterActivity"
                  android:theme="@android:style/Theme.Dialog" />
    </application>

</manifest>